<div id="feed" class="full fullscreen">
    <div class="ui celled grid fullscreen">
        <div class="five wide middle column fullscreen">
            <h2 class="ui header">
                <i class="inbox icon"></i>
                Inbox
            </h2>
            <div class="ui tabular filter menu">
                <a class="active item" data-tab="unread">Unread</a>
                <a class="item" data-tab="saved">Saved</a>
                <a class="item" data-tab="all">All</a>
            </div>
            <div class="ui divided inbox selection list active tab" data-tab="unread">
                <a class="active item">
                    <div class="left floated ui star rating"><i class="icon"></i></div>
                    <div class="right floated date">Sep 14, 2013</div>
                    <div class="description">Weekly Webcomic Wrapup fought the law, and the law won</div>
                </a>
                <a class="item">
                    <div class="left floated ui star rating"><i class="icon"></i></div>
                    <div class="right floated date">Sep 14, 2013</div>
                    <div class="description">Scientists discover new breed of dog</div>
                </a>
                <a class="item">
                    <div class="left floated ui star rating"><i class="icon"></i></div>
                    <div class="right floated date">Sep 10, 2013</div>
                    <div class="description">Dogs colony in Antarctica</div>
                </a>
                <a class="item">
                    <div class="left floated ui star rating"><i class="icon"></i></div>
                    <div class="right floated date">Sep 09, 2013</div>
                    <div class="description">Famous dog whisperer Chakotay dies today at 104</div>
                </a>
                <a class="item">
                    <div class="left floated ui star rating"><i class="icon"></i></div>
                    <div class="right floated date">Sep 07, 2013</div>
                    <div class="description">Top 10 Things to Know about Labradoodles</div>
                </a>
                <a class="item">
                    <div class="left floated ui star rating"><i class="icon"></i></div>
                    <div class="right floated date">Sep 05, 2013</div>
                    <div class="description">Study shows children enjoy the company of animals</div>
                </a>
            </div>
            <div class="ui divided inbox selection list tab" data-tab="saved">
                <a class="item">
                    <div class="left floated ui star rating"><i class="icon"></i></div>
                    <div class="right floated date">Sep 14, 2013</div>
                    <div class="description">Your favorite saved article</div>
                </a>
                <a class="item">
                    <div class="left floated ui star rating"><i class="icon"></i></div>
                    <div class="right floated date">Sep 14, 2013</div>
                    <div class="description">Your favorite saved article</div>
                </a>
                <a class="item">
                    <div class="left floated ui star rating"><i class="icon"></i></div>
                    <div class="right floated date">Sep 14, 2013</div>
                    <div class="description">Your favorite saved article</div>
                </a>
            </div>
            <div class="ui divided inbox selection list tab" data-tab="all">
                <a class="item">
                    <div class="left floated ui star rating"><i class="link icon"></i></div>
                    <div class="right floated date">Sep 14, 2013</div>
                    <div class="description">There turns out there is only one article under all.</div>
                </a>
            </div>

            <div class="ui divider"></div>

            <div class="page">Showing <b>6</b> of 213</div>
            <div class="ui pagination menu">
                <a class="icon item"><i class="icon left arrow"></i></a>
                <a class="active item">1</a>
                <div class="disabled item">...</div>
                <a class="item">10</a>
                <a class="item">11</a>
                <a class="item">12</a>
                <a class="icon item"><i class="icon right arrow"></i></a>
            </div>
        </div>
        <div class="eleven wide right column">
            <!--地图显示区域-->
            <div id="mapObj"></div>
        </div>
    </div>
</div>